<% @kittens.each do |kitten| %>
	<h1><%= link_to kitten.name, kitten_path(kitten.id) %></h1>
	<p>Age: <%= kitten.age %></p>
	<p>Cuteness: <%= kitten.cuteness %></p>
	<p>Softness: <%= kitten.softness %></p>
<% end %>